<% layout('/layouts/boilerplate') %>

   <div class="grid">
   
      <div class="content">
        
        <h2>Campgrounds</h2>
        <h2>Campgrounds</h2>
      
      </div>
    

    <div id="cluster-map"></div>
    
    
    <% for(let camp of Camp) {%>
    <div class="cardcontainer">


        <% if(camp.image.length){ %>
            <img class="img-fluid" alt="" src='<%= camp.image[0].url %>'>
            <% }else{ %>
                <img class="img-fluid" alt="" src='https://res.cloudinary.com/dgwj4ybds/image/upload/v1624391779/yelpcamp/kcwgoqaz8gudrhzmgxr7.jpg'>
                <% } %>


      
           <h1><%=camp.title %></h1>
            
          <p>  <%=camp.description %></p>
          
          <div class="bottomline">
          
            <div>
          <a href="/campground/<%=camp._id%>" class="cardbutton">Learn More</a>
            </div>
            
           <div class="location">
               <h2>LOCATION</h2>
               <p><%=camp.location %></p>
           </div> 
            
          </div>
            
        </div>
    

        <% } %>
       



  </div>

    
    
            <script>
                const camps = {
                    features: <%-JSON.stringify(Camp)%>
                }
            </script>
            <script src="/clusterMap.js"></script>