<% layout('/layouts/boilerplate') %>

<div class="grid" style="padding: 30px; ">
    


    <div class="row ">
        <div id="map" class="mb-3"></div>
        
        <div class="cardcontainer1" style="margin-top: 50px;">


            
                    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel"  >
                        <div class="carousel-inner images " >
                            <% camp.image.forEach((img,i) => { %>
                                <div class="carousel-item <%=i==0?'active':''  %> ">
                                    <img src="<%=img.url%>" class="d-block w-100 img" alt="..." " >
                                </div>
                                <% })%>
        
                        </div>
                        <% if(camp.image.length>1){ %>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            <% } %>
               
                       <h5  class="card-title" style="font-family: Poppins, sans-serif; text-align: center; margin-bottom: 50px; text-transform: uppercase; letter-spacing: 1px; font-weight: 600; margin-top: 40px; ">
                        <%=camp.title  %>
                      </h5>
                    <p class="card-text" style="font-family: Poppins, sans-serif; text-align: center; ">
                        <%=camp.description %>
                    </p>
                    <ul class="list-group list-group-flush " style="font-family: Poppins; border-radius: 20PX; text-align: center;  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;">
                        <li class="list-group-item text-muted">
                            <%=camp.location  %>
                        </li>
                        <li class="list-group-item text-muted" >
                            Created by-
                            <%=camp.author.username %>
                        </li>
                        <li class="list-group-item" style=" color: #ff9e00; font-weight: 800;">$
                            <%=camp.price  %> PER NIGHT</li>
    
                    </ul>
                    <%if(currentUser&&camp.author.equals(currentUser._id)) { %>
                        <div class="card-body">
                            <a class="card-link btn btn-warning" href="/campground/<%=camp._id%>/edit " style="margin-top: 20px; margin-bottom: 20px; width: 100%; border-radius: 15px; font-family: Poppins;">edit</a>
                            <form class="d-inline" action="/campground/<%=camp._id%>?_method=DELETE" method="POST">
    
                                <button class="btn btn-danger button1">DELETE</button>
                            </form>
                        </div>
    
                        <% } %>
                            <div class="card-footer text-muted" style="text-align: center; margin-top: 50px;">
    
                                2 days ago
                  
                            </div>

   



                            <% if(currentUser){ %>
                                <div class="mb-3" style="font-family: Poppins;"  >
                                    <h2 style="text-align: center; font-weight: 500;">leave a review</h2>
                        
                                    <form action="/campground/<%=camp._id %>/reviews" method="POST" class="mb-3 validate-form" novalidate>
                                        <!-- <div class="mb-3">
                                            <label for="rating" class="form-label"> rating</label>
                                            <input class="form-range" type="range" name="rating" id="rating" min="1" max="5">
                                        </div> -->
                                      <div>
                                            <fieldset class="starability-growRotate" id="rating" >
                       
                                                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                                                <input type="radio" id="second-rate1" name="rating" value="1" />
                                                <label for="second-rate1" title="Terrible">1 star</label>
                                                <input type="radio" id="second-rate2" name="rating" value="2" />
                                                <label for="second-rate2" title="Not good">2 stars</label>
                                                <input type="radio" id="second-rate3" name="rating" value="3" />
                                                <label for="second-rate3" title="Average">3 stars</label>
                                                <input type="radio" id="second-rate4" name="rating" value="4" />
                                                <label for="second-rate4" title="Very good">4 stars</label>
                                                <input type="radio" id="second-rate5" name="rating" value="5" />
                                                <label for="second-rate5" title="Amazing">5 stars</label>
                                            
                                            </fieldset>
                                        </div>
                                        <div class="mb-3" style=" text-align: center; margin-top: 10px;">
                                            <label class="form-label" for="body" >Add a Review</label>
                                            <textarea class="form-control" name="body" id="body" cols="30" rows="3" required style="border-radius: 15px; box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;"></textarea>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                        <button class="btn btn-success button1" style="border-radius: 15px; margin-top: 20px; ">Sumbit</button>
                                        
                                        
                                    </form>
                                    <% } %>
                                        <div class="mb-3">
                                            <% for(let review of camp.review){ %>
                                                <div class="mb-3 card cardcontainer2" style="margin-top: 80px;" >
                                                    <div class=" card-body " >
                                                        <h5> 
                                                            <%=review.author.username%>
                                                        </h5>
                        
                                                        <p class="starability-result" data-rating="<%= review.rating %>">
                                                            Rated:
                                                            <%=review.rating %> stars
                                                        </p>
                        
                        
                        
                        
                        
                                                        <p class="card-text">
                                                            <%= review.body %>
                                                        </p>
                                                        <%if(currentUser&&review.author.equals(currentUser._id)) { %>
                                                            <form action="/campground/<%=camp._id  %>/review/<%=review._id  %>?_method=DELETE" method="POST">
                                                                <button class="btn-sm btn-danger button1">DELETE</button>
                        
                                                            </form>
                                                            <%} %>
                                                    </div>
                                                </div>
                        
                                                <% } %>
                </div>
            </div>
      </div>



    
    
    
   

    <script>
        const camp = <%-JSON.stringify(camp)%>
    </script>

    <script src="/map.js"></script>